.navgation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  height: 72px;
  padding: 0 30px;
}
.navgation,
ul {
  display: flex;
  list-style: none;
  gap: 10px;
  font-weight: 500;
}
